@import "tailwindcss";
@tailwind utilities;

body {
    height: 100%;
    width: 100%;
    margin: 0;
    background: #0A0E1A;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
    
}

@theme{
    --color-primary-100: #0f172a;
    --color-card-bg: #0f172a;
    --color-input-bg: #020617;
    --color-card-header: #1e293b;
    --color-border-main: #334155;
    --color-brand-blue: #60a5fa;
}

@keyframes float {
  0%,100% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}

.animate-gradient {
  background-size: 100% 100%;
  animation: gradientMove 6s ease infinite;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}