@import "tailwindcss";
@tailwind utilities;

body {
    min-height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    justify-content: center;
    background: linear-gradient(135deg, #0f172a, #1e293b, #0f172a);
    font-family: 'Inter', sans-serif;
}

@theme{
    --color-primary-100: #0f172a;
    --color-card-bg: #0f172a;
    --color-input-bg: #020617;
    --color-card-header: #1e293b;
    --color-border-main: #334155;
    --color-brand-blue: #60a5fa;
}